*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: rgb(255, 179, 0);
}

@font-face {
    font-family: "Cairo";
    src: url(font/CAIRO.TTF);
}

@media (max-width: 767px) {
    
    .services .services-content .srvs{
        flex-direction: column;
        text-align: center;
    }
    .contact .info .label, .contact .info .link{
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #aaa; */
}
.special-head{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0px;
}
.special-head + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979 ;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "cairo";
}

.hedar{
padding: 8px;
padding-left: 20px;
background-color: rgb(18, 18, 18);
border-bottom: 3px solid;
border-color: var(--main-color);
}


.hedar .container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.hedar .logo{
    width: 80px;
    height: 40px;
}

.hedar .menu{
    position: relative;
    top: 10px;
    
}

.hedar .menu .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.hedar .menu .icon span{
    background-color: white;
    margin-bottom: 5px;
    
    
    
}
.hedar .menu .icon span:first-child{
width: 100%;
height: 2px;
}
.hedar .menu .icon span:nth-child(2){
    width: 70%;
    height: 2px;
    transition: 0.3s;
    
}
.hedar .menu .icon span:last-child{
    width: 100%;
    height: 2px;
}
.hedar .menu:hover .icon span:nth-child(2){
    width: 100%;
}
.hedar .menu ul {
    list-style: none;
    margin: 0px;
    margin-top: -9px;
    padding: 0px;
    background-color: #eee;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 7px);
    z-index: 1;
    display: none;
}
.hedar .menu ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent ;
    position: absolute;
    right: 5px;
    top: -20px;
}
.hedar .menu ul li a{
    display: block;
    padding: 15PX;
    text-decoration: none;
    transition: 0.3s;
    color: black;
}
.hedar .menu ul li a:hover{
    padding-left: 30px;
}
.hedar .menu ul li:not(:last-child) a {
    border-bottom: 1px solid #cccc;
}
.hedar .menu:hover ul{
    display: block;
}
.landing{
    background-image: url(../imgs/edrak211.jpg) ;
    background-size: cover;
    height: calc(100vh - 60px);  
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* width: 350px; */
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 45px;
}
.landing .intro-text p{
   font-size: 22px;
   line-height: 1.8;
}
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.features .fate {
    padding: 20px;
    text-align: center;
}
.features .fate i {
    color: var(--main-color)
}
.features .fate h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .fate p {
    line-height: 1.8;
    color: #777;
    font-size: 20px;
    margin-top: -15px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 90px;
    
}
.services .services-content .srvs{
    display: flex;
    margin-bottom: 30px;
}
.services .services-content .srvs i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srvs .text{
    flex: 1;
}
.services .services-content .srvs h3{
    margin: 0%;
}
.services .services-content .srvs p{
    color: #777;
    line-height: 1.6;
    font-weight: 300;
}
.services .services-content .imags{
    text-align: center;
    position: relative;
}
.services .services-content .imags img{
    width: 300px;
}
.services .services-content .imags::before{
    content: "";
    background-color: var(--main-color);
    width: 120px;
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    right: 0;
    z-index: -1;
}
@media (max-width: 1199px) {
   .imgnone{
       display: none;
   }
}
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 90px;
}
.portfolio .portfolio-content .card{
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
    border-radius: 2% 2% 0 0;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
    margin: 0;
}
.portfolio .portfolio-content .card .info p{
    margin-bottom: 0;
    line-height: 1.6;
    color: #777;
}
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content{
    margin-top: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;

    } 
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 40px);
    top: -40px;
    left: -25px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 270px;
    border-left: 70px solid var(--main-color) ;
    border-bottom: 70px solid var(--main-color) ;
    z-index: -1;
    right: -150px;
    top: -40px;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
line-height: 2;
font-weight: bold;
margin-bottom: 40px;
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;  
}
.about .about-content .text hr{
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: rgb(18, 18, 18);
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 12px;
    color: rgb(18, 18, 18);
}
.footer{
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}